body,html{
  height: 100%;
}

body{
  margin: 0; 
  padding: 0;


  
  width: 100%;
  background-image: url(img/banner.jpeg);
  background-position: center;
  background-size: cover;
  position: absolute;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 600px;
  height: 800px;
  background: rgb(38, 5, 228);
  text-align: center;
} 

.form-title {
color: white;
text-transform: uppercase;
font-weight: 500;
} 

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"] {
  border: 0;
  background: none; 
  display: block;
  margin: 20px auto;
  padding: 14px 10px;
  text-align: center;
  border: 2px solid black; 
  width: 200px;
  outline: none;
  color: white; 
  border-radius: 24px; 
  transition: 0.25s;
} 

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
  width: 280px;
  border-color: white;
} 

.form-box button[type="submit"] {
  border: 0;
  background: #5352ed;
  cursor: pointer;
  border: 2px solid #3742fa
} 

.form-box button[type="submit"] {
  background: none;
}